@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Blog.ViewModel.System.User.ChangePasswordModel
@{

}

<h1 class="font-semibold text-4xl text-neutral">Đổi Mật Khẩu</h1>
<div class="mt-10">
    <form class="space-y-[1rem]">
    <div class="form-control w-full lg:w-[50%]">
        <label asp-for="OldPassword" class="label">
            <span class="label-text text-xl font-semibold ">Mật Khẩu Hiện Tại</span>
        </label>
        <input asp-for="OldPassword" type="password" id="oldPassword" placeholder="Mật Khẩu Hiện Tại" id="oldPassword" class="input input-bordered w-full" />
    </div>
    <div class="form-control w-full lg:w-[50%]">
        <label asp-for="NewPassword" class="label">
            <span class="label-text text-xl font-semibold ">Mật Khẩu Mới</span>
        </label>
        <input asp-for="NewPassword" type="password" id="newPassword" placeholder="Mật Khẩu Mới" id="newPassword" class="input input-bordered w-full" />
    </div>
    <div class="form-control w-full lg:w-[50%]">
        <label asp-for="ConfirmPassword" class="label">
            <span class="label-text text-xl font-semibold ">Nhập Lại Mật Khẩu Mới</span>
        </label>
        <input asp-for="ConfirmPassword" type="password" id="confirmPassword" placeholder="Nhập Lại Mật Khẩu Mới" id="confirmPassword" class="input input-bordered w-full" />
    </div>
    <div>
        <button class="btn btn-primary" onclick="ChangePassword(event)">Đổi Mật Khẩu</button>
    </div>
</form>
</div>