@model Blog.ViewModel.Catalog.Tag.CreateTagModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Tạo Mới Tag</h1>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"><span class="text-danger">*  </span>Tên Tag</label>
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"><span class="text-danger">*  </span>Slug</label>
                <input asp-for="Slug" id="slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onclick="createTag(event)">Tạo Mới</button>
            </div>
        </form>
    </div>
</div>



<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Quay Lại Danh Sách</a>
</div>

@section AdminScripts{
    <script>
        function createTag(e) {
            e.preventDefault()
            const name = $("#name").val()
            const slug = $("#slug").val()
            
            if(slug === "" || name === ""){
                swal.fire({
                    title:"Lỗi",
                    text:"Vui lòng không để trống những ô nhập có dấu *",
                    icon:"error"
                })
                return;
            }

            const body = {
                name: name,
                slug: slug
            }
            swal.fire({
                title: 'Tạo Tag',
                text:'Bạn chắc chắn muốn tạo tag này ?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Chắc chắn ',
                cancelButtonText: 'Không',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("Create","Tag",new {Area = "Admin"})",
                        contentType: 'application/json',
                        data: JSON.stringify(body),
                        success: function(response) {
                            if (response.success === true) {
                                swal.fire({
                                    title: response.message,
                                    icon: 'success',
                                }).then(result => {
                                    window.location = "@Url.Action("Index","Tag",new {Area = "Admin"})"
                                })

                            } else {
                                swal.fire({
                                    title: response.message,
                                    icon: 'error',
                                })
                            }
                        }
                    })
                }
            })
        }
    </script>
}