@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    Layout = "_Layout";
}

<div class="w-[90%] mx-auto mt-10">
    <div class="w-full md:w-[70%] h-[250px] flex flex-col justify-center space-y-4 bg-neutral text-neutral-content rounded-md p-10 mx-auto">
        <div class="flex items-center gap-4">
            <div class="avatar">
                <div class="w-24 rounded-full">
                    <img src="/avatar/@Model.Avatar" />
                </div>
            </div>
            <h3 class="font-semibold text-xl">@Model.FirstName  @Model.LastName</h3>
        </div>
        <div>
            <p class="text-xl font-semibold">Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus dignissim purus facilisis libero suscipit vulputate.Vestibulum rutrum...</p>
        </div>
    </div>
    <div class="divider font-bold text-2xl my-[2rem]">CÁC BÀI VIẾT CỦA TÁC GIẢ</div>
    <div>
        <div id="PostContainer" class="mt-[4rem] space-y-[4rem]">
        </div>
        <div class="text-right">
            <div id="BtnPaging" class="btn-group mt-[2rem] text-right">
        </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            const currentPathName = new URL(window.location.href).pathname

            // Host = localhost:port/thanh-vien/userName
            const userName = currentPathName.split("/")[2]


            $.ajax({
                type: "POST",
                url: "@Url.Action("GetListPostsUser","Author")",
                contentType: "application/json",
                data: JSON.stringify({
                    pageIndex: 1,
                    userName: userName
                }),
                success: function(response) {
                    RenderData(response)
                    RenderPaging(response)
                },
                error: function() {
                    swal.fire({
                        title: "Lỗi",
                        text: "Có lỗi xảy ra, vui lòng thử lại sau",
                        icon: "error"
                    })
                }
            })
        })

        function Pagination(index,event) {
            const currentPathName = new URL(window.location.href).pathname

            // Host = localhost:port/thanh-vien/userName
            const userName = currentPathName.split("/")[2]
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetListPostsUser","Author")",
                contentType: "application/json",
                data: JSON.stringify({
                    pageIndex: index,
                    userName: userName
                }),
                success: function(response) {
                    RenderData(response)
                    $(".btnPaging").removeClass('btn-active')
                    $(event.target).addClass('btn-active')
                },
                error: function() {
                    swal.fire({
                        title: "Lỗi",
                        text: "Có lỗi xảy ra, vui lòng thử lại sau",
                        icon: "error"
                    })
                }
            })
        }

        function RenderData(response){
            $("#PostContainer").empty()
            response?.data.map((item, index) => {
                        $("#PostContainer").append(`
                                        <div class="flex flex-col lg:flex-row gap-10">
                                <img src="/thumbnail/${item.thumbnail}" class="w-full max-w-[600px] lg:min-w-[600px] h-[300px] object-cover hover:cursor-pointer hover:opacity-90 duration-300"/>
                                <div class="flex flex-col h-[300px]">
                                    <a asp-action="Index" asp-controller="Blog" asp-route-slug="${item.slug}" class="text-3xl my-2 font-bold text-neutral">${item.title}</a>
                                    <h4 class="text-lg my-2 font-medium text-base-300 ">${item.categoryName} / ${item.createdAt}</h4>
                                    <p class="text-xl my-2 font-medium text-base-content">Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus dignissim purus facilisis libero suscipit vulputate.Vestibulum rutrum...</p>
                                </div>
                            </div>
                                        `)
                    })

        }

        function RenderPaging(response){
            for (let i = 1; i <= response.totalPage; i++) {
                        $("#BtnPaging").append(`
                                    <button class="btnPaging btn ${i === 1 ? 'btn-active' : ''}" onclick="Pagination(${i},event)">${i}</button>
                                `)
                    }
        }
    </script>

}